<p id="notice"><%= notice %></p>
<%= link_to '<', drugs_path %>

<br>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">Medicamento
  <li class="list-group-item"><%= @drug.name %></li>
</ul>

<%= link_to 'Editar', edit_drug_path(@drug) %>
