<h2>Termo de Consentimento para Tratamento de Dados</h2>

<div class="termsx">
  O HOSPITAL MOINHOS DE VENTO declara manter sigilo e confidencialidade sobre os dados de seus clientes disponibilizados
  em seu website. Também declara que os dados serão utilizados somente para as finalidades de comunicação com seus
  clientes e HOSPITAL MOINHOS DE VENTO. Suas informações serão mantidas por tempo indeterminado, até que você solicite,
  através das opções do site ou das comunicações, sua retirada. Assim sendo, todas as suas informações pessoais
  recolhidas serão utilizadas somente para ajudar a tornar sua visita em nosso site mais produtiva e agradável possível.

  A garantia da confidencialidade dos dados pessoais dos visitantes de nosso site é importante para o HOSPITAL MOINHOS
  DE VENTO.

  A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telefone móvel, endereço, data
  de nascimento e/ou outros dados que visem facilitar a comunicação e interatividade, permitindo a realização dos
  serviços oferecidos pela empresa.

  O uso do site do HOSPITAL MOINHOS DE VENTO pressupõe a aceitação deste “Acordo de Privacidade”. A equipe do HOSPITAL
  MOINHOS DE VENTO reserva-se ao direito de alterar este acordo sem aviso prévio. Desse modo, sempre que atualizarmos
  nossa Política de Privacidade, lhe informaremos.

  Responsabilidades do controlador e medidas de segurança
  Todos os dados que você nos fornece são tratados unicamente para atingir as finalidades acima listadas. Estes dados
  são armazenados em servidores seguros nossos ou de fornecedores contratados, acessados e utilizados de acordo com
  nossas políticas e padrões de segurança.

  Tomamos medidas de boas práticas e certificações existentes no mercado para garantir que os dados que coletamos sejam
  processados de acordo com segurança onde quer que os dados estejam localizados.

  O acesso ao seu perfil é de responsabilidade exclusivamente sua, por meio de uma senha (ou por meio de outra mídia
  escolhida) que lhe permite acessar certas partes de nossos sites, sendo de sua responsabilidade manter esta senha
  confidencial e por cumprir com quaisquer outros procedimentos de segurança. Nunca solicitaremos sua senha, e pedimos
  que você não a compartilhe com ninguém.

  A segurança e confiabilidade dos dispositivos os quais você utiliza para acessar os nossos serviços, tais como
  computadores, celulares, tablets ou outros dispositivos, é de total responsabilidade sua. Você deve por meios próprios
  buscar proteger os sistemas operacionais desses dispositivos contra qualquer ameaça externa.

  Os anúncios
  Coletamos e utilizamos informação contida nos anúncios. A informação contida nos anúncios inclui o seu endereço IP
  (Internet Protocol), o seu ISP (Internet Service Provider, como o Sapo, Clix, ou outro), o browser que utilizado ao
  visitar o nosso website (como o Internet Explorer, Firefox ou Google Chrome), o tempo da sua visita e que páginas você
  visitou dentro do nosso website. Os Cookies e Web Beacons Utilizamos cookies para armazenar informação, como, por
  exemplo, suas preferências pessoais quando em visita ao nosso website. Isto poderá incluir um simples pop-up ou uma
  ligação em vários serviços que providenciamos, tais como fóruns ou blogs. Você detém o poder de desligar os seus
  cookies nas opções do seu browser ou efetuando alterações nas ferramentas de programas antivírus como o Norton
  Internet Security. No entanto, isso poderá alterar a forma como você interage com o nosso website, ou até mesmo outros
  websites. Isso poderá afetar ou não permitir logins em programas, sites ou fóruns da nossa ou de outras redes.
</div>
<br>
<div style="text-align: center;">
  <%= link_to 'Aceitar e Continuar', '/registrations/new?id=2', class: 'btn btn-primary' %>
</div>