<p id="notice"><%= notice %></p>


<div style="text-align: center;">
  <%= image_tag 'logo.png', style: 'height:30%; width:40%;' %>
  <br>
  <br>
  <h1>Bem-Vindo</h1>

  <p>Preencha seus dados e tenha acesso aos seus exames, lista de medicamentos, entre outros.</p>
  <%= link_to 'Já tenho conta', registration_url(1), class: 'btn btn-primary' %>

  <br>
  <%= link_to 'Criar Conta', new_registration_path %>
</div>

