<%= link_to "patients/#{session[:id]}" do %>
  <i class="material-icons icon-blue">arrow_back</i>
<% end %>
<br>
<br>

<%= link_to new_exam_path do %>
  <i class="material-icons icon-blue">add</i>Adicionar Exame
<% end %>

<table class="table">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @exams.each do |exam| %>
    <tr>
      <td><%= link_to "Exame - #{exam.full_date}", exam %></td>
      <td>
        <%= link_to exam, method: :delete, data: { confirm: 'Você tem certeza?' } do %>
          <i class="material-icons icon-blue">delete_forever</i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
